<div class="main-content-box">
  <div class="container mt-4">
    <h2>Future is here</h2>
    <div class="card">
      <div class="card card-item">
        <div> 
            <button class="btn btn-primary" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Space</button>
        </div>

        <div id="collapseBasic" [collapse]="isCollapsed">
          <div class="card card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias, suscipit
            nemo quisquam officiis illo, ipsa voluptatem, optio deserunt minima magnam voluptates sint explicabo dolor
            impedit cupiditate voluptatum quia eligendi odio excepturi? Amet omnis esse recusandae doloribus unde,
            deleniti, error accusamus rerum, deserunt inventore quas!</div>
        </div>
      </div>
    </div>

  </div>

</div>
