<div class="main-content-box">
  <div class="container mt-4">
    <h2>Future is here</h2>
    <div class="progress mb-3">
      <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" style="width:40%"></div>
    </div>
    <!-- <div class="card">
      <div class="card card-item mt-4 mx-3">
        <div>
          <button class="btn btn-secondary" style="min-width: 12%;text-align: left;" type="button" (click)="isCollapsed1 = !isCollapsed1"
            [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseBasic1">Space <i class="bi bi-plus" *ngIf = "isCollapsed1"></i><i class="bi bi-dash" *ngIf = "!isCollapsed1"></i></button>
        </div>

        <div id="collapseBasic1" [collapse]="isCollapsed1">
          <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias, suscipit
            nemo quisquam officiis illo, ipsa voluptatem, optio deserunt minima magnam voluptates sint explicabo dolor
            impedit cupiditate voluptatum quia eligendi odio excepturi? Amet omnis esse recusandae doloribus unde,
            deleniti, error accusamus rerum, deserunt inventore quas!</div>
        </div>
      </div>
      <div class="card card-item mt-4 mx-3">
        <div>
          <button class="btn btn-secondary" style="min-width: 12%;text-align: left;" type="button" (click)="isCollapsed2 = !isCollapsed2"
            [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic2">Environment <i class="bi bi-plus" *ngIf = "isCollapsed2"></i><i class="bi bi-dash" *ngIf = "!isCollapsed2"></i></button>
        </div>

        <div id="collapseBasic2" [collapse]="isCollapsed2">
          <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias, suscipit
            nemo quisquam officiis illo, ipsa voluptatem, optio deserunt minima magnam voluptates sint explicabo dolor
            impedit cupiditate voluptatum quia eligendi odio excepturi? Amet omnis esse recusandae doloribus unde,
            deleniti, error accusamus rerum, deserunt inventore quas!</div>
        </div>
      </div>
      <div class="card card-item mt-4 mx-3">
        <div>
          <button class="btn btn-secondary" style="min-width: 12%;text-align: left;" type="button" (click)="isCollapsed3 = !isCollapsed3"
            [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseBasic3">Future <i class="bi bi-plus" *ngIf = "isCollapsed3"></i><i class="bi bi-dash" *ngIf = "!isCollapsed3"></i></button>
        </div>

        <div id="collapseBasic3" [collapse]="isCollapsed3">
          <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias, suscipit
            nemo quisquam officiis illo, ipsa voluptatem, optio deserunt minima magnam voluptates sint explicabo dolor
            impedit cupiditate voluptatum quia eligendi odio excepturi? Amet omnis esse recusandae doloribus unde,
            deleniti, error accusamus rerum, deserunt inventore quas!</div>
        </div>
      </div>
      <div class="card card-item mt-4 mb-4 mx-3">
        <div>
          <button class="btn btn-secondary" style="min-width: 12%;text-align: left;" type="button" (click)="isCollapsed4 = !isCollapsed4"
            [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseBasic4">Speed <i class="bi bi-plus" *ngIf = "isCollapsed4"></i><i class="bi bi-dash" *ngIf = "!isCollapsed4"></i></button>
        </div>

        <div id="collapseBasic4" [collapse]="isCollapsed4">
          <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias, suscipit
            nemo quisquam officiis illo, ipsa voluptatem, optio deserunt minima magnam voluptates sint explicabo dolor
            impedit cupiditate voluptatum quia eligendi odio excepturi? Amet omnis esse recusandae doloribus unde,
            deleniti, error accusamus rerum, deserunt inventore quas!</div>
        </div>
      </div>
    </div>  -->


  </div>

  <div class="card mx-4 mt-4 p-3 cardCol">
    <div class="row g-0 justify-content-between">
      <h5 class="mt-4 mb-4 mx-1 col-2 lh-base">Client List:</h5>
      <input class="col-sm-2 m-auto p-2 rounded-3" style="height: 40px;" type="text" placeholder="Kuch likh to sahi..."
        [(ngModel)]="ungli" (ngModelChange)="findBhidu()">
      <button class="btn btn-dark col-2 mx-3" (click)="addBhidu()">Gang Me Samil Kar <i
          class="bi bi-plus-circle"></i></button>
    </div>
    <div class="scroll-table">
      <table class="table table-hover container text-capitalize">
        <thead class="thead-dark position-sticky">
          <tr>
            <th scope="col"> <div class="position-sticky">Name</div> </th>
            <th scope="col">Thikana</th>
            <th scope="col">Dhandha</th>
            <th scope="col">Owner</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of clients">
            <td>{{item.name}}</td>
            <td>{{item.thikana}}</td>
            <td>{{item.dhandha}}</td>
            <td>{{item.owner}}</td>
            <td>{{item.status}}</td>
            <td class="text-center"><i class="bi bi-scissors" style="cursor: pointer;" (click)="katDal(item.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <form style="width: 40%;" class="form mx-4 mt-0" *ngIf="buttonPressed">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-warning" (click)="buttonPressed=false"><i class="bi bi-x-lg"></i></button>
  </div>
  <h4 class="mb-4 text-dark col">Apni Detail Dal Varna Kat Dalunga:</h4>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingName" required placeholder="Chal Be Name likh" [(ngModel)]="newMember.name">
    <label for="floatingName">Name Bata Bhidu</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingThikana" required placeholder="Kholi Kaha He" [(ngModel)]="newMember.thikana">
    <label for="floatingThikana">Kahase Ho</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingDhandha" required placeholder="Kam Kya Karta He Be" [(ngModel)]="newMember.dhandha">
    <label for="floatingDhandha">Dhandha Bata</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingOwner" required placeholder="Kiska Kutta He" [(ngModel)]="newMember.owner">
    <label for="floatingOwner">Apne Baap Ka Name Likh</label>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select form-select-lg mb-3" id="floatingStatus" required [(ngModel)]="newMember.status">
      <option value="Jinda" id="Status">Jinda</option>
      <option value="Murda">Murda</option>
    </select>
    <label for="floatingStatus">Jinda He Ke Tapak Gaya</label>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-warning" type="submit" (click)="addNewMember()">
      Welcome To Gang </button>
  </div>
</form> -->

<form style="width: 40%;" class="form mx-4 mt-0" [formGroup]="newClients" (ngSubmit)="newClientsAdd()"
  *ngIf="buttonPressed">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-warning" (click)="buttonPressed=false"><i class="bi bi-x-lg"></i></button>
  </div>
  <h4 class="mb-4 text-dark col">Apni Detail Dal Varna Kat Dalunga:</h4>

  <div class="form-floating mb-3">
    <input type="text" class="form-control text-capitalize" id="floatingName" formControlName="name"
      placeholder="Chal Be Name likh">
    <label for="floatingName">Name Bata Bhidu</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control text-capitalize" id="floatingThikana" formControlName="thikana"
      placeholder="Kholi Kaha He">
    <label for="floatingThikana">Kahase Ho</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control text-capitalize" id="floatingDhandha" formControlName="dhandha"
      placeholder="Kam Kya Karta He Be">
    <label for="floatingDhandha">Dhandha Bata</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control text-capitalize" id="floatingOwner" formControlName="owner"
      placeholder="Kiska Kutta He">
    <label for="floatingOwner">Apne Baap Ka Name Likh</label>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select form-select mb-3" formControlName="status" id="floatingStatus">
      <option value="Jinda">Jinda</option>
      <option value="Murda">Murda</option>
    </select>
    <label for="floatingStatus">Jinda He Ke Tapak Gaya</label>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-warning" type="submit" [disabled]="!newClients.valid">
      Welcome To Gang </button>
  </div>
</form>
