<div class="main-content-box">
  <div class="container mt-4 row">
    <div class="col">
      <h2 class="mb-3">Table....</h2>
    </div>
    <div class="col">
      <input [(ngModel)]="find" (ngModelChange) = "findSarif()" type="text" placeholder="Search....." class="mb-3">
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-success" (click)="addSarif()"><i class="bi bi-plus"></i>&nbsp;Add Sarif</button>
      
      
    </div>


    <div class="card ms-2">
      <div class="card-body" style="height: 550px;">
        <table id="dtBasicExample" class="table table table-dark table-striped table-hover
            table-m" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">Name
              </th>
              <th class="th-sm">Address
              </th>
              <th class="th-sm">Mobile
              </th>
              <th class="th-sm">Age
              </th>
              <th class="th-sm">Weight (kg)
              </th>
              <th class="th-sm">Net Worth
              </th>
              <th class="th-sm text-center">Remove
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of sarifList">
              <td>{{item.name}}</td>
              <td>{{item.address}}</td>
              <td>{{item.mobile}}</td>
              <td>{{item.age}}</td>
              <td>{{item.weight}}</td>
              <td>{{item.netWorth |currency}}</td>
              <td class="text-center"><i class="bi bi-trash cursor-pointer" (click)="deleteSarif(item.id)"></i></td>
            </tr>

        </table>
        
      </div>
      
    </div>

  </div>
</div>
