.sidebar {
  height: 100vh;
  background: #333558;
  border-radius: 10px;
  // box-shadow: 3px 0px 10px rgba(33,37,41,0.1);
  // margin-top: 50px;
  width: 190px;
  position: fixed;
  top: 10px;
  left: 10px;
  height: 97vh;
  color: rgb(15, 15, 15);
  display: block;
  z-index: 100;

  ul {
    margin-top: 50px;
  }

  li {
    font-size: 15px;
    display: block;
    cursor: pointer;
    transition-duration: 0.5s;

    a {
      color: rgb(247, 242, 242);
      padding: 15px 25px;
      transition-duration: 0s !important;
      // font-family: var(--bs-font-monospace);

      &:hover,
      .active:not(last-child) {
        color: black;
        background-color: #e6e6ea;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        // border-left: 5px solid #ffc107;
      }
    }



    &.active:not(last-child) {
      background: #4269a8;
      border-left: 4px solid #ff0000;
      
    }
  }

}

.logo {
  position: relative;
}

.logo img {
  position: absolute;
  width: 100%;
  filter: invert(1);
  left: -5px;
}

.active:not(last-child) {
  color: #070707 !important;
  background-color: #e6e6ea;
  position: relative;
  // border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;
  // text-transform: uppercase;
  // border-radius: 10px;
  // border-left: 5px solid #ffc107
}



li a {
  position: relative;
  height: 50px;
}

ul li:hover a::before,
.active::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 10px;
  background-color: transparent;
  right: 0px;
  top: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -6px 0px 6px #e6e6ea;
}

ul li:hover a::after,
.active::after {
  content: "";
  position: absolute;
  width: 190px;
  height: 10px;
  background-color: transparent;
  right: 0px;
  top: -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 6px 0 6px #e6e6ea;
}
.logOut {
  position: absolute;
  bottom: 40px;
}
