<div class="main-content-box">
  <div class="row mb-3">
    <div class="col">Feedback Management</div> 
    <div class="col">{{feedbackListNumber}}</div>
    <div class="col"></div>
    <!-- <button (click)="trial()"></button> -->
  </div>
  <!-- <div>Area of Circle = <Span>{{msg}}</Span></div> -->
  <div>
    <tabset>
      <tab heading="Feedback" id="tab1">
        <app-trial01 (sendFeedbackList)="receiveFeedbackList($event)"></app-trial01>
      </tab>
      <tab heading="Action">
        <app-trial02 [childFeebackList]="feedbackList" (sendChildFeebackList)="receiveNewFeedbackList($event)" ></app-trial02>
      </tab>
      <tab heading="Status">
        <app-trial03 [finalFeebackList]="newFeedbackList"></app-trial03>
      </tab>
    </tabset>
  </div>
</div>
