/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
.main-content-box{
    margin-top: 60px;
    margin-left: 200px;
    width: calc(100%-200px);
}
body {
    // font-family: var(--bs-font-monospace) !important;
    // font-family: 'Lato', sans-serif !important;
    font-family: 'Poppins', sans-serif !important;
    // font-family: 'Nunito', sans-serif !important;
    // font-family: 'Source Sans Pro', sans-serif !important;
    // font-family: 'Oxygen', sans-serif !important;
    // font-family: 'Inter', sans-serif !important;
    // font-family: 'Sora', sans-serif !important;
}
.f-18{
    font-size: 18px;
}
.cardbodycolor{
    background-color: rgb(48 52 57 / 80%);
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
