/* You can add global styles to this file, and also import other style files */
.main-content-box{
    margin-left: 200px;
    width: calc(100%-200px);
}
body {
    font-family: var(--bs-font-monospace);
}
.f-18{
    font-size: 18px;
}