<div class="main-content-box">
  <div class="container mt-4">
    <h2>Welcome to the world of new opportunity..</h2>
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-7 text-cont mt-5">
            <ul>
              <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, accusamus!</li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore aspernatur soluta impedit
                reiciendis veritatis doloremque.</li>
              <ul style="position: relative;">
                <li>Lorem ipsum dolor sit amet consectetur um! A, rerum?Lorem ipsum dolor sit
                  amet consectetur, adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, earum! A, rerum?Lorem ipsum dolor sit
                  amet consectetur, adipisicing elit.</li>
              </ul>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, earum! A, reor sit
                amet consectetur, adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, earum! A, rerum?Lorem ipsum dolor sit
                amet consectetur, adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet consectetit. Sit, earum! A, rerum?Lorem ipsum dolor sit
                amet consectetur, adipisicing elit.</li>
              <ul>
                <li>Lorem ipsum dolor sit amet consectr sit
                  amet consectetur, adipisicing elit.</li>
              </ul>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, earum! A, rerum?Lorem ipsum dolor sit
                amet consectetur, adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, earum! A, rerum?Lorem ipsum dolor sit
                amet consectetur, adipisicing Lorem ipsum dolor sit amet.</li>
              </ul>
            </div>
            <div class="col-3 img-cont">
            <img src="../../assets/images/logo11.png" alt="infinite">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
